.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100vw;
  background-color: #09455b;
  color: snow;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
