.container {
  height: 200px;
  background-color: #09455b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding: 20px;
}

.selection-block {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

select {
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  height: 30px;
  font-weight: bold;
}

select:focus {
  outline: none;
}

.result {
  color: yellow;
  align-self: center;
  font-weight: bold;
  font-size: 25px;
}

input {
  font-size: 20px;
  border-radius: 10px;
  width: 100px;
}

label {
  padding: 0 10px;
}
