.container {
  height: 250px;
  background-color: #09455b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding: 20px;
}

.selection-block {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

select {
  font-size: 20px;
  padding: 0 5px;
  border-radius: 10px;
  height: 30px;
  /*font-weight: bold;*/
  background-color: #413f3f;
  color: yellow;
  border-bottom-color: yellow;
}

select:focus {
  outline: none;
}

button {
  align-self: center;
  border-radius: 5px;
  background-color: #413f3f;
  color: yellow;
  border-bottom-color: yellow;
}

.option {
  background-color: #413f3f;
}

.result {
  color: yellow;
  align-self: center;
  font-weight: bold;
  font-size: 25px;
}

input {
  font-size: 20px;
  border-radius: 10px;
  width: 100px;
  outline: ridge;
  background-color: #c9c6c6;
}

label {
  padding: 0 10px;
}
