<div class="container">

  <div>Sale</div>

  <div class="selection-content">

    <div>
      <label for="amountSale">Amount:</label>
      <input type="number" placeholder="0" [(ngModel)]="amount" id="amountSale">

      <label for="fromCurrencySale">From Currency:</label>
      <select [(ngModel)]="fromCurrency" id="fromCurrencySale">
        <option *ngFor="let currency of currencyList">{{ currency.ccy }}</option>
        <option>UAH</option>
      </select>
    </div>

    <p>to</p>

    <div>
      <input type="number" placeholder="0" [value]="convert()">

      <label for="toCurrencySale">To Currency:</label>
      <select [(ngModel)]="toCurrency" id="toCurrencySale">
        <option>UAH</option>
        <option *ngFor="let currency of currencyList">{{ currency.ccy }}</option>
      </select>
    </div>

  </div>

  <div class="result">{{ result || 0 }}</div>

</div>
